/* Handle the right side */
.right {
  flex: 1;
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  padding: 15px;
}

/* Handle the top right button */
.right > .top-right-btn {
  position: absolute;
  right: 0;
  top: 0;
  padding: 5px 0px;
  padding-left: 25px;
  background: linear-gradient(to right, #2dc3b6, #0177ba);
  border-bottom-left-radius: 50px;
}

.right > .top-right-btn > .icon-btn {
  color: white;
}
/* Handle the top side */
.top-side {
  display: flex;
  margin-bottom: 25px;
  flex-direction: column;
  width: 100%;
  height: fit-content;
}

/* Handle the top side title */
.top-side > .top-title {
  margin: 25px 0px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #0177ba;
}

/* Handle the top-bottom side */
.top-bottom {
  margin-top: 35px;
  display: flex;
  align-items: center;
}

/* Hande the top-bottom-left side */
.top-bottom-left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Handle the top-bottom-right side */
.top-bottom-right {
  width: 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.right-bottom {
  flex: 1;
}

.header {
  color: #0177ba;
  font-weight: bold !important;
}

.row-bg {
  background-color: #ebebeb !important;
  color: #075d8f;
}

.pagination-bottom {
  width: fit-content;
  height: 3rem;
  background-color: rgba(1, 119, 188, 0.5);
  border-radius: 10px;
  display: flex;
  align-items: center;
}